# ===== LISTADO =====
alias ls='eza --icons --color=auto --group-directories-first'
alias la='eza --icons --color=auto --group-directories-first -a'
alias ll='eza -lah --icons --color=auto --group-directories-first --git'
alias lt='eza --tree -L 2 --icons --color=auto --group-directories-first'
alias ltg='eza --tree -L 2 --git-ignore --icons --color=auto'

# ===== VISUALIZACIÓN =====
alias cat='bat'
alias leer='bat --pager="less -R"'

# ===== GREP =====
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# ===== NIXOS =====
alias aplicar='sudo nixos-rebuild switch --flake /etc/nixos#nixos'
alias probar='sudo nixos-rebuild test --flake /etc/nixos#nixos'
alias refrescar='nix flake update --flake /etc/nixos'
alias limpiar='sudo nix profile wipe-history --profile /nix/var/nix/profiles/system --older-than 7d && sudo nix store gc && nix store optimise'
alias basura='sudo nix store gc'
alias buscar='nix-search'
alias conf='cd /etc/nixos'
alias nixedit='vim /etc/nixos'

# ===== SISTEMA =====
alias montarusb='sudo mount -v /dev/sdb1 /media/usb'
alias desmontarusb='sudo umount -v /media/usb'
alias fca='fd -tf -x sh -c "echo {}; cat {}"'
alias psg='ps aux | grep -v grep | grep'
alias doas='sudo'
alias weather='curl es.wttr.in/Zarautz'

# ===== MULTIMEDIA (CHROMECAST) =====
alias cast='go-chromecast -s 48291 --first load'
alias cast-salon='go-chromecast -s 48291 -u "a24cd6ba947d71983793a702ad566695" load'
alias cast-stop='go-chromecast -u "a24cd6ba947d71983793a702ad566695" stop'

# ===== GIT =====
alias gpl='git pull'
alias gps='git push'
alias gdf='git diff'
alias gst='git status'
alias gcm='git commit'
alias gco='git checkout'
alias gbr='git branch'
alias glg='git log --oneline --graph --all --decorate'
alias gad='git add'
alias gaa='git add .'
alias gca='git commit -a -m'
alias gamend='git commit --amend'
alias gundo='git reset --soft HEAD~1'

# ===== NAVEGACIÓN =====
alias '..'='cd ..'
alias '...'='cd ../..'

# ===== FZF =====
alias rmfzf='fzf -m --print0 | xargs -0 rm -v'
alias cpfzf='fzf -m --print0 | xargs -0 -I {} cp -rv "{}"'

