[user]
	email = jonbergerandi@gmail.com
	name = Jon Bergerandi
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
