[Match]
Name=enp7s0

[Link]
RequiredForOnline=routable

[Network]
Address=192.168.1.50/24
Gateway=192.168.1.1
DHCP=no
UseDNS=no
IPv6AcceptRA=yes

[DHCP]
UseDNS=no

[IPv6AcceptRA]
UseDNS=no
