ACTION=="add", SUBSYSTEM=="block", ENV{ID_FS_USAGE}=="filesystem", ENV{ID_BUS}=="usb", RUN+="/home/jb/dotfiles/scripts/montarusb.sh add %k"
ACTION=="remove", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", RUN+="/home/jb/dotfiles/scripts/montarusb.sh remove %k"
